<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}?v={{ request.timestamp }}">
</head>
<body>
    <h1>Product Catalog</h1>

    <h2 class="cart">panier</h2>

    {% if cart %}
        <ul>
            {% for item in cart.values %}
                <li>
                    <img src="{{ item.product.img.url }}" alt="{{ item.product.img }}" style="width: 100px; height: auto;">
                    <strong>{{ item.product.name }}</strong>
                    <div class="cart_info">
                        <p class="cart_price">Prix: {{ item.product.price }} €</p>
                        <div class="quantity-wrapper">
                            <span class="quantity-label">Quantité:</span>
                            <div class="quantity-controls">
                                <a href="{% url 'decrease_quantity' item.product.id %}" class="quantity-btn minus">-</a>
                                <span class="quantity">{{ item.quantity }}</span>
                                <a href="{% url 'increase_quantity' item.product.id %}" class="quantity-btn plus">+</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <p class="cart_total">Total : {{ total }} €</p>
        <a class="cart_clear" href="{% url 'clear_cart' %}">Vider le panier</a>
    {% else %}
        <p class="empty"> Votre panier est vide.</p>
    {% endif %}

    <!--<a href="{% url 'product_list' %}">Retour aux produits</a>-->
</body>
</html>