<!--
-- EEMI E-commerce project, 2025
-- E-commerce website in Django
-- file description:
-- This file displays the product list page
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>POP SHOP</h1>
    <marquee>
        <p class="marquee-text">OFFRE SPECIALE Pour une figurine achetée, une dose de bonheur offerte...</p>
    </marquee>

    <div class="s_container">
        <div class="menu">
            <label for="menu-toggle" class="menu-toggle">Menu</label>
            <input type="checkbox" id="menu-toggle" class="menu-checkbox">
            <div class="menu-dropdown">
                <ul>
                    <li><a href="{% url 'product_list' %}">Shop</a></li>
                    <li><a href="{% url 'order_history' %}">Commandes</a></li>
                </ul>
            </div>
        </div>

        <form method="GET" action="{% url 'product_list' %}">
            <input type="text" name="q" placeholder="Rechercher un produit..." class="s_input" value="{{ request.GET.q }}">
            <button type="submit" class="s_button">Rechercher</button>
        </form>

        <form method="GET" action="{% url 'product_list' %}" class="filter-form">
            <div class="dropdown">
                <button type="button" class="dropdown-toggle">Filtre</button>
                <div class="dropdown-menu">
                    <label for="min_price">Prix min (€)</label>
                    <input type="number" name="min_price" id="min_price" class="filter-input" placeholder="10" value="{{ request.GET.min_price }}">

                    <label for="max_price">Prix max (€)</label>
                    <input type="number" name="max_price" id="max_price" class="filter-input" placeholder="100" value="{{ request.GET.max_price }}">

                    <button type="submit" class="filter-button">Filtrer</button>
                </div>
            </div>
        </form>

            <!--<a href="{% url 'display_cart' %}" class="panier">Panier</a>-->
            <a href="{% url 'display_cart' %}" class="panier">
                <img src="media/images/panier.png" alt="Panier">
            </a>

    </div>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_details' product.id %}">
                    <img src = "{{ product.img.url }}" alt = "{{ product.name }}">
                </a>

                <strong>{{ product.name }}</strong>
                <p>Prix : {{ product.price }} €</p>
                <a href="{% url 'add_to_cart' product.id %}" class="ajouter_panier">Ajouter au panier</a>
            </li>
        {% endfor %}
    </ul>
    <footer>
        <p>&copy; 2025 POP Shop. Commandez dès maintenant !</p>
    </footer>
</body>
</html>