<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }} Product Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <h1>Product Catalog</h1>
    <div class="container">

        <div class="img_container">
            <img src="{{ details.img.url }}" alt="{{ details.name }}">
        </div>

        <div class="infos">
            <strong>{{ details.name }}</strong>
            <p>Prix: {{ details.price }} €</p>
            <a href="{% url 'add_to_cart' details.id %}" class="ajouter_panier">Ajouter au panier</a>
        </div>

        <div class="description">
            <h2>Description</h2>
            <p>{{ details.description }}</p>
        </div>
    </div>
</body>
</html>

